@using HomeHunter.Common;
@{
    
    //ViewData["Title"] = "Privacy Policy";

}

<div class="gdpr">
    <div class="container">
        <h2><strong>Политика за поверителност (GDPR).</strong></h2>
        <p>
            <strong>@GlobalConstants.CompanyWebSite</strong> зачита неприкосновеността на личния живот на клиентите си и гарантира в максимална степен защитата на личните им данни. Настоящата Политика за поверителност и защита на личните данни е изготвена и се основава на действащото българско и европейско законодателство в областта на защитата на личните данни.
            Настоящата Политика за поверителност регулира обработването на лични данни на физически лица или представители на юридически лица на нашия уебсайт: @GlobalConstants.CompanyWebSite, във връзка с услугите, предоставяни от @GlobalConstants.CompanyName, включително предоставяни чрез и достъпни на Сайта.
        </p>
        <p>
            Настоящата Политика за поверителност, заедно с Общи условия за ползване на Интернет сайт, Политиката за използване на "Бисквитки" и всякакви други документи, които са упоменати на Сайта, определя правилата, които @GlobalConstants.CompanyName ще спазва при обработване на лични данни, които събираме от Вас или за Вас, или които Вие ни предоставяте. Настоящата Политика за поверителност не засяга, не ограничава и не отменя правата Ви, произтичащи от Закона за защита на личните данни („ЗЗЛД”) или друго относимо законодателство.
        </p>
        <h3>Какво регламентират тези Правила за поверителност и какво е законовото основание?</h3>
        <p>
            От 25 май 2018 година в България започва да се прилага Общ регламент за защита на личните данни (GDPR). Той е приет от Европейския съюз и целта му е да уеднакви политиките на държавите-членки на ЕС, свързани със събирането и използването на лични данни. Друга негова цел е да гарантира правото Ви на неприкосновеност, да защити вашите лични данни, за да даде повече сигурност срещу злоупотреби с личната информация на всеки от нас. Новият регламент идва с редица изисквания, които  @GlobalConstants.CompanyName прилага и с които може да се запознаете тук.
        </p>
        <p>Сред тях са:</p>
        <p>Да ви информираме какви данни използваме.</p>
        <p>Да ви информираме защо ги използваме.</p>
        <p>
            Да искаме вашето съгласие, за да ги използваме, когато на тяхна база предоставяме допълнителни услуги като таргетирана реклама, например.
        </p>
        <p>Да ви дадем възможност да променяте съгласието си за различни цели през този сайт, за да имате повече свобода.</p>
        <p>
            Да ви гарантираме правото да поискате коригиране на вашите данни, тяхното изтриване, както и да „бъдете забравени“. В допълнение, можем да ви предоставим данните за сваляне или да ги трансферираме, ако ни уведомите и се легитимирате по съответните начини.
        </p>
        <p>
            Да посочваме всички трети лица/други компании, с които обменяме вашите данни. Имайте предвид, че интернет е глобална мрежа, ние често използваме стандартизирани услуги, които да регистрират влизане и да проследят поведение в анонимизиран вариант, например Google Analytics. Всички данни, благодарение на които може да бъде идентифициран даден потребител, се считат за лични данни. Такива могат да бъдат имейл, имена, мобилен телефон, адрес на живеене, IP адрес.
        </p>
        <p>
            Всички данни, благодарение на които може да бъде идентифициран даден потребител, се считат за лични данни. Такива могат да бъдат имейл, имена, мобилен телефон, адрес на живеене, IP адрес.
        </p>

        <p><strong>Какви данни събираме ние от нашите регистрирани потребители?</strong></p>
        <p>@GlobalConstants.CompanyWebSite събира от потребителите на уебсайта си специфични данни от осъществените от тях регистрации, а именно:</p>
        <p>Потребителско име, електронна поща, лични имена(само за регистрирани посетители);</p>
        <p>Данни, събирани за всички посетители: </p>
        <p>IP адрес;</p>
        <p>Идентификатор на потребителя с висока степен на уникалност;</p>
        <p>Идентификатор на устройство (device ID) за мобилни апликации, с висока степен на уникалност;</p>
        <p>Идентификатор на браузъра, с висока степен на уникалност;</p>
        <p>История на посетените страници</p>
        <p>История на направените от Вас търсения;</p>

        <p><strong>Защита на информацията</strong></p>
        <p>
            Когато съхраняваме информацията при нас, тя се запазва физически на сървъри, колокирани в центрове за съхранение на данните на територията на Република България. Наш партньор е (Име ня хостинг компанията). Пълна информация за тяхната сертификация и защитата на подаваните лични данни може да намерите тук: https://hostingcompanyname.bg
        </p>
        <p>
            Ние ограничаваме достъпа до информация за вас от страна на служители, действащи под ръководството на  @GlobalConstants.CompanyName, освен в случаите, в които са налице разумни основания да боравят с тази информация с цел да ви бъдат предоставяни услуги или във връзка с изпълняваните работни задължения от тези служители.
            Разполагаме с физически, електронни и процедурни защитни средства, които съответстват на нашите законови задължения по отношение защитата на информацията за вас.
        </p>

        <p><strong>Колко време съхраняваме информацията?</strong></p>
        <p>
            Cъхраняването на данните продължава, докато разполагаме с основание за тяхното съхранение. Например – наш потребител е дал съгласието си да събираме и обработваме информация за него.
            Прилагаме следните срокове за съхраняване на различните типове лични данни според тяхната цел, а именно:
        </p>
        <p>С цел разрешаване на възможни спорове, възникнали или станали известни след прекратяване на споразумението за ползване на Услугите и във връзка със ЗЕДЕУУ(ЗАКОН ЗА ЕЛЕКТРОННИЯ ДОКУМЕНТ И ЕЛЕКТРОННИТЕ УДОСТОВЕРИТЕЛНИ УСЛУГИ ), тези данни се съхраняват за период до 1 /една/ година след прекратяване на акаунта</p>

        <p>
            По отношение на трафичните данни се прилага Законът за електронните съобщения и данните се съхраняват в рамките на 6 месеца. Тези данни се предават на специализираните органи и институции само при спазени законови разпоредби и с надлежно основание.
        </p>
        <p><strong>Вашите Права във връзка с обработването на Личните ви данни</strong></p>

        <p>1.Общи права</p>
        <p>
        <p>
            Във връзка с обработване на лични данни, имате следните права, които може да упражните Във всеки момент, докато съхраняваме или обработваме личните Ви данни, като изпратите заявление на адреса на  @GlobalConstants.CompanyName, посочен по-долу, или по електронен път на имейл: home@homehunter.bg
        </p>
        <p>
            Имате право да поискате от  @GlobalConstants.CompanyName да коригира без ненужно забавяне, неточните Ви лични данни, както и данните, които не са вече актуални.
        </p>
        <p>
        <p>Имате право също:</p>
        <ul>
            <li>
                да оттеглите Вашето съгласие за обработката на личните Ви данни по всяко време с отделно искане, отправено до  @GlobalConstants.CompanyName, при обработване основаващо се на дадено съгласие;
            </li>
            <li>
                да възразите срещу обработването на личните си данни;
            </li>
            <li>
                да възразите срещу автоматизирана обработка, включително профилиране;
            </li>
            <li>
                да не бъдете обект на решение, основаващо се единствено на автоматизирано обработване, включващо профилиране;
            </li>
        </ul>
        <p>2. Имате право на жалба до надзорния орган</p>

        <p>
            Имате право да подадете жалба направо до надзорния орган, като компетентният за това орган е Комисия за защита на личните данни, адрес: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2 (www.cpdp.bg).
            В случай, че желаете да подадете жалба относно обработката на личните ви данни от  @GlobalConstants.CompanyName, можете да го направите на посочените данни за контакт на Администратора или директно на Длъжностно лице по защита на данните (на посочените по-горе данни за контакт).
        </p>
        <p><strong>Контакти:</strong></p>
        <p>Администратор: (Данни за юридическото лице)</p>
        <p> Длъжностно лице по защита на данните/Data Protection Officer: email: dpo@homehunter.bg</p>
    </div>
</div>