@model HomeHunter.Models.BindingModels.RealEstate.RealEstateEditBindingModel
@using HomeHunter.Models.ViewModels.City
@using HomeHunter.Models.ViewModels.RealEstateType
@using HomeHunter.Models.ViewModels.BuildingType
@using HomeHunter.Models.ViewModels.HeatingSystem
@using HomeHunter.Models.ViewModels.Neighbourhood
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


< <div class="container paddingElement" style="padding-left:150px">
    <br />
    <br />
    <h4>Информация за имота</h4>
    <hr />

    <div class="row">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-5">
                <div class="form-group w-50 mx-auto">
                    <div class="text-left">
                        <label asp-for="RealEstateType"></label>
                    </div>
                    <select class="custom-select" id="realEstateType" asp-for="RealEstateType">
                        <option selected disabled>-- Изберете тип на имота --</option>
                        //Add
                        @foreach (var realEstateType in (IEnumerable
               <RealEstateTypeViewModel>
                   )this.ViewData["RealEstateTypes"])
                        {
                            <option value="@realEstateType.TypeName">@realEstateType.TypeName</option>
                        }
                    </select>
                    <span asp-validation-for="RealEstateType" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Area" class="control-label"></label>
                    <input style="width:270px" asp-for="Area" class="form-control" />
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input style="width:270px" asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group w-50 mx-auto">
                    <div class="text-left">
                        <label asp-for="City"></label>
                    </div>
                    <select class="custom-select" id="city" asp-for="City">
                        <option selected value=null>-- Изберете град --</option>
                        //Add
                        @foreach (var city in (List
               <CityViewModel>
                   )this.ViewData["Cities"])
                        {
                            <option class="@city.Name" id="@city.Name">@city.Name</option>
                        }
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group w-50 mx-auto">
                    <div class="text-left">
                        <label asp-for="Neighbourhood"></label>
                    </div>
                    <select style="width:270px" class="custom-select" id="Neighbourhood" name="Neighbourhood" asp-for="Neighbourhood">
                        <option value="@this.ViewData["Neighbourhood"]">@this.ViewData["Neighbourhood"]</option>

                    </select>
                    <span asp-validation-for="Neighbourhood" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Village" class="control-label"></label>
                    <input style="width:270px" asp-for="Village" class="form-control" />
                    <span asp-validation-for="Village" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea asp-for="Address" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group w-50 mx-auto" id="buildingType">
                    <div class="text-left">
                        <label asp-for="BuildingType"></label>
                        <span asp-validation-for="BuildingType" class="text-danger"></span>
                    </div>
                    <select class="custom-select" id="buildingType" asp-for="BuildingType">
                        <option selected disabled>-- Изберете тип сграда --</option>
                        //Add
                        @foreach (var buildingType in (List
<BuildingTypeViewModel>
)this.ViewData["BuildingTypes"])
                        {
                            <option>@buildingType.Name</option>
                        }
                    </select>
                    <span asp-validation-for="BuildingType" class="text-danger"></span>
                </div>

                <div class="form-group w-50 mx-auto" id="heatingSystem">
                    <div class="text-left">
                        <label asp-for="HeatingSystem"></label>
                        <span asp-validation-for="HeatingSystem" class="text-danger"></span>
                    </div>
                    <select class="custom-select" id="heatingSystem" asp-for="HeatingSystem">
                        <option selected disabled>-- Изберете типа отопление --</option>
                        //Add
                        @foreach (var heatingSystem in (List
<HeatingSystemViewModel>
)this.ViewData["HeatingSystems"])
                        {
                            <option>@heatingSystem.Name</option>
                        }
                    </select>
                    <span asp-validation-for="HeatingSystem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FloorNumber" class="control-label"></label>
                    <input style="width:380px" asp-for="FloorNumber" class="form-control" id="FloorNumber" />
                    <span asp-validation-for="FloorNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BuildingTotalFloors" class="control-label"></label>
                    <input style="width:380px" asp-for="BuildingTotalFloors" class="form-control" id="BuildingTotalFloors" />
                    <span asp-validation-for="BuildingTotalFloors" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input style="width:380px" asp-for="Year" class="form-control" id="Year" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        @if (Model.Elevator == true)
                        {
                            <input type="checkbox" id="Elevator" key="Elevator" name="Elevator" value="true" checked="checked" /><strong> Асансьор</strong>

                        }
                        else
                        {
                            <input type="checkbox" id="Elevator" key="Elevator" name="Elevator" value="true" /><strong> Асансьор</strong>
                        }

                    </label>
                    <span asp-validation-for="Elevator" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        @if (Model.Furnitures == true)
                        {
                            <input type="checkbox" id="Furnitures" key="Furnitures" name="Furnitures" value="true" checked="checked" /><strong> Обзаведен</strong>

                        }
                        else
                        {
                            <input type="checkbox" id="Furnitures" key="Furnitures" name="Furnitures" value="true" /><strong> Обзаведен</strong>
                        }

                    </label>
                    <span asp-validation-for="Furnitures" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        @if (Model.ParkingPlace == true)
                        {
                            <input type="checkbox" id="ParkingPlace" key="ParkingPlace" name="ParkingPlace" value="true" checked="checked" /><strong> Паркомясто</strong>

                        }
                        else
                        {
                            <input type="checkbox" id="ParkingPlace" key="ParkingPlace" name="ParkingPlace" value="true" /><strong> Паркомясто</strong>
                        }

                    </label>
                    <span asp-validation-for="ParkingPlace" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        @if (Model.Basement == true)
                        {
                            <input type="checkbox" id="Basement" key="Basement" name="Basement" value="true" checked="checked" /><strong> Мазе</strong>

                        }
                        else
                        {
                            <input type="checkbox" id="Basement" key="Basement" name="Basement" value="true" /><strong> Мазе</strong>
                        }

                    </label>
                    <span asp-validation-for="Basement" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        @if (Model.Celling == true)
                        {
                            <input type="checkbox" id="Celling" key="Celling" name="Celling" value="true" checked="checked" /><strong> Таван</strong>

                        }
                        else
                        {
                            <input type="checkbox" id="Celling" key="Celling" name="Celling" value="true" /><strong> Таван</strong>
                        }

                    </label>
                    <span asp-validation-for="Basement" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        @if (Model.Garage == true)
                        {
                            <input type="checkbox" id="Garage" key="Garage" name="Garage" value="true" checked="checked" /><strong> Гараж</strong>

                        }
                        else
                        {
                            <input type="checkbox" id="Garage" key="Garage" name="Garage" value="true" /><strong> Гараж</strong>
                        }

                    </label>
                    <span asp-validation-for="Garage" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        @if (Model.Yard == true)
                        {
                            <input type="checkbox" id="Yard" key="Yard" name="Yard" value="true" checked="checked" /><strong> Двор</strong>
                        }
                        else
                        {
                            <input type="checkbox" id="Yard" key="Yard" name="Yard" value="true" /><strong> Двор</strong>
                        }

                    </label>
                    <span asp-validation-for="Yard" class="text-danger"></span>
                </div>

                <br />
                <br />
                <div class="form-group d-flex justify-content-around">
                    <input type="submit" value="Продължи" id="submit" class="btn btn-info-h" />
                </div>

            </div>
        </form>
    </div>
    <p>Полетата със * са задължителни!</p>
</div>




@section Scripts
{
    <script src="~/js/CascadeDropdown.js" asp-append-version="true"></script>
    <script src="~/js/LockCreateRealEstateFields.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}

